<!--
  Copy pasted this from the drupalcamp.pl site. Thanks!
-->
<div class="col-md-3 text-center">
  <a href="{{ user_url }}">{{ user_image }}</a>
  <a href="{{ user_url }}"><h3>{{ name }}</h3></a>
  {{ intro }}
</div>
